:root {
    --main-color: #030619;
    --text-color: #d8e1e9;
    --second-color: #0ea6e9;
    --third-color: #061326;
}

.title {
    letter-spacing: 3px;
}

body {
    background-color: var(--main-color);
    min-height: 100vh;
}

html {
    scroll-behavior: smooth;
    background-color: var(--main-color);
}

section {
    scroll-margin-top: 100px;
}


/*  Fade In */

.fade-in {
    animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*  Fade + Slide Down */

@keyframes fadeSlideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*  Scale In */

.scale-in {
    animation: scaleIn 0.35s ease-out forwards;
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}


/* 4️ Slide From Right */

.slide-right {
    animation: slideRight 0.4s ease-in-out forwards;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(70px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.slide-up {
    animation: slideUp 0.35s ease-in-out forwards;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-down {
    animation: slideDown 0.35s ease-in-out forwards;
}

@keyframes slideDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(40px);
    }
}

.mobile-menu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
}

.mobile-menu.open {
    max-height: 300px;
    /* قيمة كفاية للـ ul */
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    transition: max-height 0.35s ease, opacity 0.25s ease, transform 0.35s ease;
}

.mobile-menu.close {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: max-height 0.35s ease, opacity 0.25s ease, transform 0.35s ease;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}